.botao {
    background-color: #9885F0;
    color: #fff;
    border-radius: 0.8rem;
    font-weight: 200;
    font-size: 1.7rem;
    border: none;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.botao:hover {
    transform: scale(1.1);
}